doctype html
html
  head
    title=title
  body
    form(action='/', enctype='multipart/form-data', method='POST')
      input(type='text', name='title')
      input(type='file', name='upload', multiple='multiple')
      input(type='submit', value='Upload')
